html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.95em;
}

button {
    margin: 10px 0;

    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

button:active {
    border-bottom-color: #a2a6ac;
}

button:active:hover {
    border-bottom-color: #a2a6ac;
}

button:hover {
    border-color: #a2a6ac #979aa1 #82858a;
}

button:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 200px;
    margin: auto;
}
.grid-item {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.grid-full {
    grid-column: span 3; /* Makes the OK button span all three columns */
}

#keypadInput {
    background: #ccc;
    border: 1px solid #000;
    padding: 10px;
    height: 25px;
}

#encryptor label {
    display: block;
}

#encryptor div {
    margin: 10px;
}

a#outputLink {
    margin: 10px 0;
    display: inline-block;
}

.hidden {
    display: none !important;
}